/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
}

button {
    font-family: inherit;
}

/* Variables */

:root {
    --clr-txt-main: #141414;
    --clr-txt-content: #505050;
    --clr-txt-footer: #d7d7d7;
    --clr-txt-header: #ffffff;

    --ff: 'Source Sans Pro', sans-serif;

    --space-inline-page-s: 32px;
    --space-inline-page-l: 60px;
}

/* Typography */

body {
    font-family: var(--ff);
    color: var(--clr-txt-main);
}

.nav__title {
    font-weight: 700;
}

.nav__links * {
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
}

.hero {
    color: var(--clr-txt-header);
}

.hero__title {
    font-size: 5vw;
}

.hero__date,
.blog__date,
.post__date {
    text-transform: uppercase;
}

.blog__description {
    color: var(--clr-txt-content);
}

.blog__link {
    color: inherit;
}

.footer {
    color: var(--clr-txt-footer);
}

.footer__title {
    font-weight: 700;
}

.post__title,
.about-me__title {
    font-size: 2rem;
}

.recent-posts {
    font-weight: 700;
    text-align: center;
}

/* Layout */

.header {
    margin-inline: var(--space-inline-page-s);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.nav__logo, 
.nav__links {
    display: flex;
    align-items: center;
    gap: 1em
}

.nav__links * {
    list-style: none;
    text-decoration: none;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.8em;
    background: url(images/hero.jpg) rgb(83, 82, 82);;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    height: 50vh;
    padding-bottom: 2em;
    padding-inline: var(--space-inline-page-s);
    margin-bottom: 3em;
}

.hero__date {
    order: -1;
}

.blogs {
    margin-inline: var(--space-inline-page-s);
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    margin-bottom: 3em;
    flex-basis: 350px;
    flex-grow: 1;
    max-width: 700px;
    margin-inline: auto;
}

.blog__img {
    order: 1;
}

.blog__title {
    order: 3;
}

.blog__description {
    order: 4;
}

.blog__date {
    order: 2;
}

.blog__link {
    text-decoration: none;
}

.blog__link:hover,
.blog__link:focus {
    text-decoration: underline;
}

.footer {
    background-color: var(--clr-txt-main);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5em 0;
}

.post {
    margin-inline: var(--space-inline-page-s);
}

.post__intro {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
}

.post__date {
    order: -1;
}

.post__subtitle,
.post__text,
.img-container,
.recent-posts {
    margin-bottom: 1.5em;
}

.about-me {
    margin-inline: var(--space-inline-page-s);
}

.about-me__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 2em 0;
}

.about-me__img {
    width: 150px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    order: -1;
    align-self: flex-start;
}

.about-me__subtitle,
.about-me__text {
    margin-bottom: 1.5em;
}

@media (min-width: 800px) {
    .header {
        margin-inline: var(--space-inline-page-l);
    }
    .hero {
        padding-top: 25em;
        gap: 0;
        padding-inline: var(--space-inline-page-l);
    }
    .hero__title,
    .hero__description,
    .hero__date {
        max-width: 60%;
    }
    .img-container {
        height: 600px;
    }
    .blogs {
        margin-inline: var(--space-inline-page-l);
    }
    .post__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .post__intro,
    .post__subtitle,
    .post__text {
        margin-inline: var(--space-inline-page-l);
    }
    .recent-posts {
        font-size: 1.5rem;
    }
    .about-me__container {
        flex-direction: row;
    }
    .about-me__subtitle,
    .about-me__text {
        margin-inline: var(--space-inline-page-l);
    }
}